.header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid cadetblue;
}

.header__wrapper {
  display: block;
  margin: 0 auto;
  padding: 15px;
  max-width: 600px;
  width: 100%;
  background: white;
}

.header__title {
  margin-bottom: 5px;
}
